extends ../layouts/default

block vars
    -
        page = {
            language: 'ua',
            name: 'groups',
            title: 'Groups',
            appTitle: 'Groups',
            description: 'Groups page'
        }

block content
    h1 Groups