extends ../layouts/default

block vars
    -
        page = {
            language: 'ua',
            name: 'news',
            title: 'News',
            appTitle: 'News',
            description: 'News page'
        }

block content
    h1 News